// Default variable overrides
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

$body-bg: #000;
$body-color: #111;


// Then import Bootstrap
@import "/css/theme.scss", "../node_modules/bootstrap/scss/bootstrap";



