
  
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#myPage"><img src="../images/icon.PNG" alt="Childcare Helper"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../views/classes.html">CLASSES</a></li>
          <li><a href="../views/drop-off-pick-up.html">DROP OFF / PICK UP</a></li>
          <li><a href="../views/child-report.html">REPORT</a></li>
          <!-- Reminder: add icon -->
          <!-- <li><a href="#pricing">LOGIN</a></li>  -->
        </ul>
      </div>
    </div>
