// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/forms";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


// 8. Additional custom code here

// Default variable overrides
$white: #FDFDFDff;
$off-white: #F2F4F3ff;
$gray: rgb(99, 99, 99);
$text-dark: rgb(45, 45, 45);
$secondary: #8AC276ff;
$primary: #22AA85ff;
$enable-shadows: true;
$prefix: "mo-";

$body-bg: #000;
$body-color: #111;
$font-family-base: Lato, sans-serif;
$font-size-base: 15px;
$line-height-base: 1.5;

body {
    font: $font-size-base $font-family-base;
    line-height: $line-height-base;
    color: $text-dark;
    background-color: $white;
  }
  
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: $primary;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: $primary;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .jumbotron {
    background-color: $primary;
    color: $white;
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
    img {
      max-width: 800px;
    }
  }
  
  .container-fluid {
    padding: 60px 50px;
  }
  
  .bg-grey {
    background-color: $off-white;
  }
  
  .logo-small {
    color: $primary;
    font-size: 50px;
  }
  
  .logo {
    color: $primary;
    font-size: 200px;
  }
  
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: $primary;
  }
  
  .carousel-indicators li {
    border-color: $primary;
  }
  
  .carousel-indicators li.active {
    background-color: $primary;
  }
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  
  .item span {
    font-style: normal;
  }
  
  .panel {
    border: 1px solid $primary;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
  }
  
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
  }
  
  .panel-footer .btn:hover {
    border: 1px solid $primary;
    background-color: $white !important;
    color: $primary;
  }
  
  .panel-heading {
    color: $white !important;
    background-color: $primary !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .panel-footer {
    background-color: $white !important;
  }
  
  .panel-footer h3 {
    font-size: 32px;
  }
  
  .panel-footer h4 {
    color: $gray;
    font-size: 14px;
  }
  
  .panel-footer .btn {
    margin: 15px 0;
    background-color: $primary;
    color: $white;
  }
  
  .navbar {
    margin-bottom: 0;
    background-color: $primary;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: $white !important;
    text-decoration: none;
  }

  a.navbar-brand {
    padding: 7.25px 0;
    img {
      max-width: 35px;
      padding: 0;
    }
  }

  .navbar-default .navbar-toggle .icon-bar  {
    background-color: $gray
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: $primary !important;
    background-color: $white !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: $white !important;
  }
  
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: $primary;
  }
  
  .slideanim {
    visibility: hidden;
  }
  
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }

  #childPlaceholder {
    max-width: 100%;
  }

  #about {
    #classes {
      div {
        background-color: $primary;
        margin: 0.5em;
        padding: 1em;
        width: 12em;
        img {
          max-width: 100%;
        }
       
      }
      a {
        text-decoration: none;
        color: $text-dark;
      }
      h3 {
        font-weight: bold;
      }
    }
  }

  // Form css
  .modal-dialog {
    width: 65rem;
  }
  .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 3rem;
    height: calc(4.8rem + calc(var(--bs-border-width) * 2))
  }
  form label {
    font-weight: 300;
  }
  .form-check {
    line-height: 1.4;
    .form-check-input {
      border-color: $gray;
    }
  }
  .radios {
  
  .form-check label {
    display: block;
    text-align: center;
  }
  .form-check input[type=radio] {
    background-size: 70%;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 10px;
    border: 0px;
    // margin-left: 0px;
    margin: 0 2.5rem;
  }

  .form-check input[type=radio]#food {
    background-image: url(../images/restaurant.png);
  }

  .form-check input[type=radio]#bathroom {
    background-image: url(../images/diaper.png);
  }

  .form-check input[type=radio]#nap {
    background-image: url(../images/sleep.png);
  }

  .form-check input[type=radio]#frown {
    background-image: url(../images/frown-face.png);
  }

  .form-check input[type=radio]:checked {
    background-color: $primary;
  }
}

#specialPadding {
  padding-left: 0;
}

  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }/*# sourceMappingURL=theme.css.map */
